/* Chats.css */
.chats-container {
   border-radius: 10px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
  text-align: center;
}

span{
  padding-left: -20px;
  align-items: center;
  align-items: baseline;
   
}
p{
  padding-left: 20px;
}