.logout-container {
  justify-items: left;
  padding-left: 15px;
}
.logout-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px 0px;
  border: none;
  border-radius: 10px;
  background: transparent;
  color: #2b2b2b;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
}
.logout-btn{
    margin-top: 430px;
}



.icon {
  width: 30px;
  height: 30px;
}
p{
  right: 10px;
}
